
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}



.tools-dashboard {
    padding: 30px;
    background-color: #001425;
    height: 100%;
    color: #e5e7eb;
}

.tools-title {
    font-size: 28px;
    color: #00c8ff;
    margin-top: 30px;
    text-shadow: 0 0 12px #00c8ff;
    align-items: center;
    display: flex;
    justify-content: center;
}


.tools-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 22px;
}



.tool-card {
    background: #02101f;
    border: 1px solid #07324f;
    margin-top: 30px;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
    transition: 0.25s;
    box-shadow: 0 0 12px rgba(0, 180, 255, 0.05);
}


.tool-card:hover {
    border-color: #00c8ff;
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(0, 200, 255, 0.4);
}

.tool-card i {
    font-size: 42px;
    margin-bottom: 12px;
    color: #45ff94;
    text-shadow: 0 0 12px #45ff94;
}


.tool-card h3 {
    color: #eaf7ff;
    margin-bottom: 6px;
    font-size: 19px;
}


.tool-card p {
    color: #a8b6c3;
    font-size: 14px;
    line-height: 1.4;
}

.tool-card a{
    text-decoration: none;
    color: #FFFFF0;
     font-size: 14px;
}

.dis{
    width: 95%;
    height: 591px;
    background-color:#001425;
    border: 0.5px solid gray;
    border-radius: 2px;
  
}
.header{
    width: 100%;
    height: 55px;
   
    background-color: #001425;
    border-bottom: 0.2px solid gray;
    position: relative;
}
.pro{
    position: absolute;
    top: 20px;  
    right: 140px;    
    color: #FFD700;
    cursor: pointer;
    font-size: 25px;
   
    display: flex;
     height: 20px;
 width: 110px;
 background-color:#001425;
 align-items: center;
 justify-content: center;
 border-radius: 30px;


}
.pro:hover{
    background-color: #2F2C2E ;}

.pro p{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}
.profile{
    position: absolute;
    top: 20px;  
    right: 20px;    
    color: #FFFFF0;
    cursor: pointer;
    font-size: 25px;
    
    display: flex;
     height: 20px;
 width: 110px;
 background-color:#001425;
 align-items: center;
 justify-content: center;
 border-radius: 30px;


}
.profile:hover{
    background-color: #2F2C2E ;}

.profile p{
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
}



/* scrolling */
.tools-grid {
    height: calc(100vh - 120px); 
    overflow-y: auto;           
    padding-right: 10px;         
}


.tools-grid::-webkit-scrollbar {
    width: 8px;
}

.tools-grid::-webkit-scrollbar-track {
    background: #111418;
}

.tools-grid::-webkit-scrollbar-thumb {
    background: #00eaff;
    border-radius: 10px;
}
