.password-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: 350px;
    margin: 120px auto;
    padding: 20px;

    background: white;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

#password {
    height: 40px;
    width: 100%;
    padding: 10px;
    font-size: 16px;

    border-radius: 5px;
    border: 1px solid #ccc;
}

#btn {
    height: 40px;
    width: 100px;

    background: black;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#strength-bar {
    width: 100%;
    height: 10px;
    background: #ddd;
    border-radius: 6px;
}

#strength-text {
    font-size: 15px;
    color: #333;
    text-align: center;
}








