
/* Error text */
 .error {
    color: red;
    font-size: 14px;
    text-align: center;
} 

/* Result Section (Status + JSON) */
 .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Always in center */
     margin-top: 100px;  
    text-align: center;
    color: white;
} 

/* Status text styling */
 .result-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

#jsonOutput {
    background: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    max-width: 80%;
} 


input{
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 60%;
   
}
button{
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.scanner{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top:400px;
}


@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

#loadingBox{
    display:none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background: #111;
    color: #fff;
    border: 1px solid #444;
    text-align: center;
}


.spinner{
        width: 25px;
        height: 25px;
        border: 3px solid #444;
        border-top-color: #09f;
        border-radius: 50%;
        margin: auto;
        animation: spin 1s linear infinite;
  }
#loadingText{
 margin-top: 10px;
  font-size: 14px;
  }