.email{
    margin-top: 20px;
    text-align: center;
    color: #fff;
}
.email h1{
    font-size: 36px;
    margin-bottom: 10px;
}
.email p{
    font-size: 18px;
    color: #ccc;
}   
.inputbox{
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
    width: 850px;
    height: 60px;
    align-items: center;
    display: flex;
    
    
}
#input{
    width: 80%;
    height: 45px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}
#scanBtn{
    margin-bottom: 20px;
    margin-top: 20px;
    width: 150px;
    height: 45px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 20px;
}
.info{
    margin-left: 20px;
    margin-top: 30px;
    text-align: center;
    color: #fff;
    height: 280px;
    width: 96%;
    border-radius: 7px;
    border: 2px solid gray;
}